@{
    ViewData["Title"] = "Cadastro Concluído";
}

<!-- Link do CSS individual -->
<link href="@Url.Content("~/css/avisoCadastroPlano.css")" rel="stylesheet" />

<div class="container-aviso">

    <div class="card-aviso">

        <h3 class="aviso-title">Cadastro Realizado!</h3>

        <p class="aviso-text">
            O Plano foi cadastrado com sucesso.
        </p>

        <input type="text"
               class="input-codigo-plano"
               value="@ViewBag.CodigoPlano"
               readonly />

        <a class="btn-aviso mt-4"
           asp-controller="Menu"
           asp-action="Menu">
            Voltar ao Menu
        </a>

    </div>

</div>
