/* CONTAINER CENTRAL */
.cadastrar-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* CARD */
.cadastrar-card {
    background-color: #FFFDFE;
    width: 500px;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    text-align: center;
}

/* TÍTULO */
.titulo {
    color: #00698B;
    font-weight: 700;
    margin-bottom: 25px;
}

/* FORMULÁRIO */
.form-label {
    font-weight: 600;
    color: #00698B;
}

/* BOTÕES */
.btn-primary {
    background-color: #00698B;
    border: none;
    padding: 12px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.2s;
}

    .btn-primary:hover {
        background-color: #00526e;
    }

.btn-voltar {
    margin-top: 10px;
    display: block;
    width: 100%;
    background-color: #E1A658;
    color: #FFFDFE;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
    text-align: center;
}

    .btn-voltar:hover {
        background-color: #c68d47;
    }

/* ALERT */
.alert {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
}
