/* Fundo padrão */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Container central do formulário */
.form-container {
    width: 700px;
    margin: 80px auto 100px auto;
    background: #ffffff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.12);
}

/* Título */
h2 {
    font-weight: bold;
    color: #00698B;
}

/* Inputs */
.form-control {
    border-radius: 6px;
    padding: 10px;
}

/* Botão principal */
.btn-primary {
    background-color: #00698B;
    border: none;
    padding: 12px;
}

.btn-primary:hover {
    background-color: #00526e;
}

/* Botão voltar */
.btn-secondary {
    background-color: #E1A658;
    border: none;
    padding: 12px;
}

.btn-secondary:hover {
    background-color: #c68f4c;
}

/* Espaço antes do footer */
footer {
    margin-top: 70px;
}
