/* Fundo geral */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Container padronizado dos formulários */
.container-form {
    width: 50%;
    margin: 80px auto 100px auto;
    background: #ffffff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Títulos */
h2 {
    font-weight: bold;
    color: #00698B; /* azul padrão */
}

/* Labels */
label {
    font-weight: bold;
    color: #00698B;
}

/* Inputs e textarea */
form input,
form textarea {
    border-radius: 6px;
    border: 1px solid #cccccc;
    padding: 10px;
}

/* Botão principal */
.btn-primary {
    background-color: #00698B;
    border: none;
    transition: 0.3s;
}

    .btn-primary:hover {
        background-color: #00526e;
    }

/* Botão secundário */
.btn-secondary {
    background-color: #E1A658;
    border: none;
    transition: 0.3s;
}

    .btn-secondary:hover {
        background-color: #c68f4c;
    }

/* Mantém espaço antes do footer */
footer {
    margin-top: 60px;
}

.alert-erro {
    background: rgba(200, 0, 0, 0.12);
    padding: 12px;
    border-radius: 8px;
    color: #b00000;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}
