/* ===== CONTAINER PRINCIPAL ===== */
.container-consulta {
    width: 700px;
    max-width: 95%;
    margin: 50px auto;
    background-color: #FFFDFE;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

/* ===== TÍTULO ===== */
.container-consulta h2 {
    color: #054d32; /* verde escuro */
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

/* ===== FORM DE BUSCA ===== */
.search-box .form-control {
    padding: 10px;
    border-radius: 6px;

    border: 2px solid rgba(5, 77, 50, 0.25); /* verde translúcido */
    background-color: rgba(5, 77, 50, 0.05); /* verde muito suave */
}

.search-box .form-control:hover {
    background-color: rgba(5, 77, 50, 0.12);
}

/* Botão buscar */
.search-box .btn-primary {
    background-color: #00698B;
    border: none;
    padding: 10px 18px;
    font-weight: 600;
    border-radius: 6px;
}

.search-box .btn-primary:hover {
    background-color: #003e52;
}

/* ===== TABELA ===== */
.table-primary-custom {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

/* HEADER da tabela (verde escuro) */
.table-primary-custom th {
    background-color: #054d32 !important;
    color: #FFFDFE;
    font-weight: bold;
    text-align: center;
}

/* Células */
.table-primary-custom td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 6px;
}

/* Texto centralizado nas celulas */
.table-primary-custom th,
.table-primary-custom td {
    text-align: center !important;
    vertical-align: middle !important;
}

/* Linhas alternadas */
.table-primary-custom tbody tr:nth-child(odd) {
    background-color: rgba(5, 77, 50, 0.07);
}

/* Hover verde */
.table-primary-custom tbody tr:hover {
    background-color: rgba(5, 77, 50, 0.16);
}

/* ===== BOTÃO EDITAR ===== */
.btn-warning.btn-sm {
    background-color: #149923 !important; /* Verde forte */
    border: none;
    font-weight: 600;
    padding: 6px 12px;
    color: #FFFDFE !important;
    border-radius: 6px;
}

.btn-warning.btn-sm:hover {
    background-color: #0f7a1c !important;
}

/* ===== BOTÃO VOLTAR ===== */
.btn-secondary {
    background-color: #E1A658 !important;
    border: none !important;
    color: #FFFDFE !important;
    padding: 12px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-secondary:hover {
    background-color: #c68d47 !important;
}
