/* Container central */
.cadastrar-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Card branco */
.cadastrar-card {
    background-color: #FFFDFE;
    width: 500px;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

/* Título */
.titulo {
    color: #00698B;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Botões */
.btn-success {
    background-color: #00698B;
    color: #FFFDFE;
    font-weight: 600;
    border: none;
}

    .btn-success:hover {
        background-color: #00526e;
    }

.btn-voltar {
    display: block;
    width: 100%;
    background-color: #E1A658;
    color: #FFFDFE;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    border: none;
}

    .btn-voltar:hover {
        background-color: #c68d47;
    }
