/* Container central */
.cadastrar-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Card branco */
.cadastrar-card {
    background-color: #FFFDFE;
    width: 500px;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

/* Título */
.titulo {
    color: #00698B;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Campos do formulário */
.form-group label {
    font-weight: 600;
}

.form-control {
    border-radius: 6px;
    padding: 10px;
}

/* Botão de voltar */
.btn-voltar {
    display: block;
    width: 100%;
    background-color: #E1A658;
    color: #FFFDFE;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    border: none;
}

.btn-voltar:hover {
    background-color: #c68d47;
}

/* Botão de salvar */
.btn-success {
    background-color: #28a745;
    border: none;
    color: #fff;
    font-weight: 600;
    transition: 0.2s;
}

.btn-success:hover {
    background-color: #218838;
}

.alert-erro {
    background: rgba(200, 0, 0, 0.12);
    padding: 12px;
    border-radius: 8px;
    color: #b00000;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.alert-erro {
    background: rgba(200, 0, 0, 0.12);
    padding: 12px;
    border-radius: 8px;
    color: #b00000;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}