/* Container central */
.cadastrar-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Card branco */
.cadastrar-card {
    background-color: #FFFDFE;
    width: 700px;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

/* Botão de pesquisa*/
.btn-primary {
    background-color: #00698B;
}

.btn-primary:hover {
    background-color: #003e52;
}

/* Título */
.titulo {
    color: #00698B;
    font-weight: 700;
    margin-bottom: 25px;
}

/* Botão voltar */
.btn-voltar {
    display: block;
    width: 100%;
    background-color: #E1A658;
    color: #FFFDFE;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
    border: none;
}

.btn-voltar:hover {
    background-color: #c68d47;
}

/* Tabela responsiva */
.table-responsive {
    border-radius: 8px;
    overflow: hidden;
}
