/* popup-overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* popup card */
.popup-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 380px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease-in-out;
}

/* botão */
.btn-popup {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00698B;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-popup:hover {
    background-color: #004d63;
}

/* checkbox */
.checkbox-hide {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}
