:root {
    --azul: #00698B;
    --branco: #FFFDFE;
    --marrom: #E1A658;
}

/* Container centralizado */
.container-aviso {
    max-width: 550px;
    margin: 80px auto;
    padding: 0 15px;
}

/* Card */
.card-aviso {
    background: var(--branco);
    padding: 30px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.15);
    text-align: center;
}

/* Título */
.aviso-title {
    font-size: 1.8rem;
    color: var(--azul);
    font-weight: 700;
    margin-bottom: 15px;
}

/* Texto principal */
.aviso-text {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 15px;
}

/* Texto secundário */
.aviso-subtext {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 25px;
}

/* Botão */
.btn-aviso {
    display: inline-block;
    background: var(--azul);
    color: var(--branco);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
    width: 75%;
    text-align: center;
}

.btn-aviso:hover {
    background: #00506B;
    cursor: pointer;
}

.input-codigo-funcionario {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 6px;
}
