:root {
    --azul: #00698B;
    --branco: #FFFDFE;
    --marrom: #E1A658;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
    filter: brightness(60%);
}

/* Container centralizado */
.container-sair {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 100%;
}

/* Card central */
.card-sair {
    background: var(--branco);
    padding: 30px 35px;
    border-radius: 15px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12);
    text-align: center;
    max-width: 500px;
}

/* Título */
.card-sair h4 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--azul);
    margin-bottom: 30px;
}

/* Botões */
.buttons-sair {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-sair {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    width: 100%;
    transition: 0.3s ease;
    text-align: center;
}

/* Botão Sair */
.btn-sair.primary {
    background: var(--azul);
    color: var(--branco);
    border: none;
}

.btn-sair.primary:hover {
    background: #00526B;
}

/* Botão Cancelar */
.btn-sair.secondary {
    background: var(--marrom);
    color: #333;
    border: none;
}

.btn-sair.secondary:hover {
    background: #cf914d;
    cursor: pointer;
}
