/* ===== PALETA ===== */
:root {
    --azul: #00698B;
    --branco: #FFFDFE;
    --marrom: #E1A658;
}

/* ===== ESTRUTURA GERAL ===== */
body {
    background: var(--branco);
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #1a1a1a;
}

/* ===== CONTAINER CENTRAL ===== */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.home-card {
    background: var(--branco);
    padding: 40px 50px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.12);
}

/* ===== TÍTULOS ===== */
.home-title {
    font-size: 2.6rem;
    margin-bottom: 20px;
    color: var(--azul);
    font-weight: 700;
}

    .home-title span {
        color: var(--marrom);
    }

.home-subtitle {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 35px;
}

/* ===== BOTÕES ===== */
.home-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.home-btn {
    padding: 14px 26px;
    font-size: 1.1rem;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}

.home-btn.primary {
    background: var(--azul);
    color: var(--branco);
}

.home-btn.primary:hover {
    background: #00506B;
}

.home-btn.secondary {
    background: var(--marrom);
    color: #333;
}

.home-btn.secondary:hover {
    background: #cf914d;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -2; /* fica atrás de tudo */
    filter: brightness(60%);
}
