@{
    ViewData["Title"] = "Cadastro Concluído";
}

<!-- Link do CSS individual -->
<link href="@Url.Content("~/css/avisoCadastroPet.css")" rel="stylesheet" />

<div class="container-aviso">

    <div class="card-aviso">

        <h3 class="aviso-title">Cadastro Realizado!</h3>

        <p class="aviso-text">
            O Pet foi cadastrado com sucesso.
        </p>

        <a class="btn-aviso"
           asp-controller="Menu"
           asp-action="Menu">
            Voltar ao Menu
        </a>

    </div>

</div>
