@{
    ViewData["Title"] = "Sair";
}

<!-- Link do CSS individual -->
<link href="@Url.Content("~/css/Sair.css")" rel="stylesheet" />

<div class="container-sair">

    <div class="card-sair">

        <h4>Tem certeza que deseja sair?</h4>

        <div class="buttons-sair">
            <a class="btn-sair primary"
               asp-controller="Home"
               asp-action="Index">
                Sair
            </a>

            <a class="btn-sair secondary"
               asp-controller="Menu"
               asp-action="Menu">
                Cancelar
            </a>
        </div>

    </div>

</div>
