@{
    ViewData["Title"] = "Login do Funcionário";
}

<link href="~/css/loginfunc.css" rel="stylesheet" />

<div class="login-container">

    <div class="login-card">

        <h2 class="login-title">Login do Funcionário</h2>

        @if (TempData["Erro"] != null)
        {
            <div class="alert-erro">
                @TempData["Erro"]
            </div>
        }

        <form method="post" asp-action="Login" asp-controller="LoginFunc">

            <div class="form-group">
                <label for="Nome">Nome do Funcionário</label>
                <input type="text" id="Nome" name="Nome"
                       placeholder="Digite seu nome" required />
            </div>

            <div class="form-group">
                <label for="Senha">Senha</label>
                <input type="password" id="Cpf" name="Cpf"
                       placeholder="Digite sua senha" required />
            </div>

            <div class="link-cadastro">
                <a asp-controller="CadastroFunc"
                   asp-action="CadastroFunc">
                    Não possui cadastro? Clique aqui.
                </a>
            </div>

            <button type="submit" class="btn-primary-vp">Entrar</button>

            <a class="btn-secondary-vp"
               asp-controller="Home"
               asp-action="Index">
                Voltar
            </a>

        </form>

    </div>

</div>
