@{
    ViewData["Title"] = "Cadastro Concluído";
}

<!-- Link do CSS individual -->
<link href="@Url.Content("~/css/AvisoCadastro.css")" rel="stylesheet" />

<div class="container-aviso">

    <div class="card-aviso">

        <h3 class="aviso-title">Cadastro Realizado!</h3>

        <p class="aviso-text">
            O cliente foi cadastrado com sucesso.
        </p>

        <p class="aviso-subtext">
            A senha inicial do cliente será o próprio
            <strong>CPF cadastrado</strong>.<br />
            Mantenha essa informação em segurança.
        </p>

        <p class="aviso-subtext">
            Código do cliente cadastrado:
        </p>

        <input type="text"
               class="input-codigo-cliente"
               value="@ViewBag.CodigoCliente"
               readonly />

        <a class="btn-aviso mt-4"
           asp-controller="Menu"
           asp-action="Menu">
            Voltar ao Menu
        </a>

    </div>

</div>
