@{
    ViewData["Title"] = "Login do Funcionário";
}

<link href="~/css/LoginFunc3.css" rel="stylesheet" />

<video autoplay loop muted playsinline class="bg-video">
    <source src="@Url.Content("~/videos/videoplaybackgato2.mp4")" type="video/mp4" />
</video>

<div class="custom-container">

    <div class="custom-card">

        <h2 class="title">Login do Funcionário</h2>

        @if (TempData["Erro"] != null)
        {
            <div class="alert-erro">
                @TempData["Erro"]
            </div>
        }

        <form method="post" asp-action="Login" asp-controller="LoginFunc3">

            <div class="form-group">
                <label for="Nome">Nome do Funcionário</label>
                <input type="text" class="form-input" id="Nome" name="Nome" placeholder="Digite seu nome" required />
            </div>

            <div class="form-group">
                <label for="Senha">Senha</label>
                <input type="password" class="form-input" id="Cpf" name="Cpf" placeholder="Digite sua senha" required />
            </div>

            <button type="submit" class="btn-primary">Entrar</button>

            <a class="btn-secondary"
               asp-controller="Aviso"
               asp-action="Aviso">
                Voltar
            </a>

        </form>
    </div>

</div>
