@{
    ViewData["Title"] = "Cadastro Concluído";
}

<!-- Link CSS individual -->
<link href="@Url.Content("~/css/redirecionamentoMenu.css")" rel="stylesheet" />

<div class="container-aviso">

    <div class="card-aviso">

        <h3 class="aviso-title">Cadastro Realizado!</h3>

        <p class="aviso-text">
            O funcionário foi cadastrado com sucesso.
        </p>

        <p class="aviso-subtext">
            A senha inicial do funcionário será o próprio <strong>CPF cadastrado</strong>.<br />
            Mantenha essa informação em segurança.
        </p>

        <a class="btn-aviso"
           asp-controller="Menu"
           asp-action="Menu">
            Voltar para o menu
        </a>
    </div>

</div>
